# conda install pytorch torchvision torchaudio cpuonly -c pytorch
# conda install opencv pytesseract tesseract detectron2 -c conda-forge
# pip install layoutparser jsonpickle
# pip install easyocr
conda install numpy=1.26.4 # For mypy-1.13.0 to work
conda install opencv pytesseract tesseract -c conda-forge
pip install jsonpickle mypy
pip install mistune # donothingscript